antlr4-python3-runtime==4.10
asttokens==2.1.0
attrs==18.2.0
Babel==2.11.0
backcall==0.2.0
celluloid==0.2.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
docutils==0.17.1
entrypoints==0.4
executing==1.2.0
Flask==2.2.2
fonttools==4.38.0
hnxwidget==0.1.1b1
hypernetx==1.2.5
idna==3.4
igraph==0.10.2
imagesize==1.4.1
importlib-metadata==5.0.0
ipykernel
ipython
ipywidgets
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib
matplotlib-inline
mpmath==1.2.1
multipledispatch==0.6.0
nest-asyncio==1.5.6
networkx
numpy
packaging==21.3
pandas
parso
pdflatex
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
python-igraph
pytz
pywin32
PyYAML
pyzmq
requests
scikit-learn
scipy
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
sympy
texttable
threadpoolctl
tornado
traitlets
urllib3
wcwidth
Werkzeug
widgetsnbextension
zipp
